body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.dsx-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.dsx-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.dsx-header {
    padding: 20px 0;
}

.dsx-content-padded {
    padding: 15px;
}

.dsx-second-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

footer a {
    color: #999;
    text-decoration: none;
}

.dsx-row {
    margin: 0.8em !important;
}


.dsx-weui-cell {
    margin-left: 0.8em !important;
    margin-right: 0.8em !important;
}
.weui-module-grids{
	position: relative;
	overflow: hidden;
}

.weui-module-grid {
    position: relative;
    float: left;
    padding: 20px 10px
    width: 50%;
    box-sizing: border-box;
}
