<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>衍生商品</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/css/weui.min.css" rel="stylesheet"/>
<link href="/css/jquery-weui.min.css" rel="stylesheet"/>
<link href="/css/app.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="weui-flex">
       <div class="weui-flex__item">
           <img alt="" height="200" src="/images/derivation.jpg" style="display: block; margin: 0 auto;" width="100%"/>
       </div>
    </div>
	<div class="container" id="container">
		<div class="page grid js_show">
			<div class="weui-module-grids">
				<a href="/derivation/works" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/works.jpg" alt="1" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">作品集</p>
				</a> 
				<a href="/derivation/gift" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/gift.jpg" alt="2" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">礼品</p>
				</a> 
				<a href="/derivation/literature" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/literature.jpg" alt="3" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">文创产品</p>
				</a> 
				<a href="/derivation/frame" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/frame.jpg" alt="4" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">画框</p>
				</a> 
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
</body>
</html>