<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>衍生商品</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css" />
<link href="/css/app.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="weui-flex">
       <div class="weui-flex__item">
           <img alt="" height="200" src="/images/derivation.jpg" style="display: block; margin: 0 auto;" width="100%"/>
       </div>
    </div>
	<div class="container" id="container">
		<div class="page grid js_show">
			<div class="weui-module-grids">
				<a href="javascript:;" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/works.jpg" alt="1" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">作品集</p>
				</a> 
				<a href="javascript:;" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/gift.jpg" alt="2" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">礼品</p>
				</a> 
				<a href="javascript:;" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/literature.jpg" alt="3" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">文创产品</p>
				</a> 
				<a href="javascript:;" class="weui-module-grid">
					<div class="weui-grid-dsx-icon">
						<img src="/images/frame.jpg" alt="4" width="120" height="120"/>
					</div>
					<p class="weui-grid__label">画框</p>
				</a> 
			</div>
		</div>
	</div>
	    <script type="text/javascript">
    /*<![CDATA[*/
	    $(document).ready(function () {
	    	$("img").click(function(){
	    		switch(this.alt) {
	    		case '1':
	    			window.location.href = "/derivation/works;
	    			break;
	    		case '2':
	    			window.location.href = "/derivation/gift;
	    			break;
	    		case '3':
	    			window.location.href = "/derivation/literature;
	    			break;
	    		case '4':
	    			window.location.href = "/derivation/frame;
	    			break;
	    		}
	    	});
	    })
   	/*]]>*/
    </script>
	<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
</body>
</html>