<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>出错啦</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
</head>
    <body>
        <div class="page__bd page__bd_spacing">
            <div class="icon-box">
                <i class="weui-icon-info weui-icon_msg">
                </i>
            </div>
            <div class="icon-box">
                <div class="icon-box__ctn">
                    <h3 class="icon-box__title">
                        出错啦
                    </h3>
                    <p class="icon-box__desc">
                        服务出现了故障，请联系网站技术人员，以帮助你解决问题
                    </p>
                </div>
            </div>
        </div>

        <!--
            // Hidden Exception Details  - this is not a recommendation, but here is
            // how you hide an exception in the page using Thymeleaf
        -->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
        <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
        <ul th:remove="tag">
            <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
                    th:utext="${ste}" th:remove="tag">${ste}</span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </body>
</html>


