<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>用户订单</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	    <link href="/css/weui.min.css" rel="stylesheet" />
	    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
	    <link href="/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body>
        <header class="dsx-header">
            <h1 class="dsx-title">订单明细</h1>
        </header>
        <div class="weui-form-preview">
		  <div class="weui-form-preview__bd">
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">订单状态:</label>
		      <span class="weui-form-preview__value" th:text="${detail.status}">已收货，待评价</span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">订单编号:</label>
		      <span class="weui-form-preview__value" th:text="${detail.id}"></span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">下单时间:</label>
		      <span class="weui-form-preview__value" th:text="${detail.date}"></span>
		    </div>
		  </div>
		</div>
		
		<div class="weui-form-preview">
		  <div class="weui-form-preview__bd">
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">收货人:</label>
		      <span class="weui-form-preview__value" th:text="${detail.customer.name}"></span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">物流公司:</label>
		      <span class="weui-form-preview__value">申通快递</span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">物流单号:</label>
		      <span class="weui-form-preview__value">201701010101010</span>
		    </div>
		  </div>
		</div>
		
		<div class="weui-form-preview">
		  <div class="weui-form-preview__bd">
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">配送方式:</label>
		      <span class="weui-form-preview__value">普通快递</span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">联系方式:</label>
		      <span class="weui-form-preview__value" th:text="${detail.customer.mobilePhone}"></span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">详细地址:</label>
		      <span class="weui-form-preview__value" th:text="${detail.customer.address}"></span>
		    </div>
		  </div>
		</div>

		<div class="weui-form-preview">
		  <div class="weui-form-preview__bd">
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">商品总额:</label>
		      <span class="weui-form-preview__value" th:text="'￥ ' + ${detail.totalAmount}"></span>
		    </div>
		    <div class="weui-form-preview__item">
		      <label class="weui-form-preview__label">＋　运费 :</label>
		      <span class="weui-form-preview__value" th:text="'￥ 0.00'"></span>
		    </div>
		    <div class="weui-form-preview__item">
		      <span class="weui-form-preview__value" th:text="'实付金额：￥ ' + ${detail.totalAmount}"></span>
		    </div>
		  </div>
		</div>		
        <div id="code" style="visibility: hidden" th:text="${{code}}"></div>
    	<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-weui.min.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
		<script src="/js/vue.min.js"></script>
    </body>
</html>
