<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户订单</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
</head>
    <body>
        <div class="page__bd page__bd_spacing">
            <div class="icon-box">
                <i class="weui-icon-info weui-icon_msg">
                </i>
            </div>
            <div class="icon-box">
                <div class="icon-box__ctn">
                    <h3 class="icon-box__title">
                        出错啦
                    </h3>
                    <p class="icon-box__desc">
                        支付遇到了一点小小的故障，您可以到“我的订单”重新尝试支付哦
                    </p>
                </div>
            </div>
        </div>
        <!--
          Failed URL: ${url}
          Exception:  ${exception.message}
              <c:forEach items="${exception.stackTrace}" var="ste">    ${ste}
          </c:forEach>
        -->
    </body>
</html>


