<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>生成作品集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"/>
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
</head>
<body>
<header class="demos-header">
    <h1 class="demos-title">作品集</h1>
</header>
<ul th:each="image : ${images}">
    <li class="col-xs-4">
        <img th:src="${{image.thumbnailUrl}}" th:alt="${{image.id}}" style="display: block; margin: 0 auto;"/>
    </li>
</ul>

<button class="weui-btn weui-btn_primary" data-counter="0" onclick="generateImageCollection()">生成作品集</button>
<div id="code" style="visibility:hidden" th:text="${{code}}"/>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
    var items = [];
    // item selection
    $('li').click(function () {
        $(this).toggleClass('selected');
        if ($('li.selected').length == 0) {
            $('.select').removeClass('selected');
            items.splice(items.indexOf($(this)[0].getElementsByTagName('img')[0].alt), 1);
        }
        else {
            $('.select').addClass('selected');
            items.push($(this)[0].getElementsByTagName('img')[0].alt);
        }
        counter();
    });

    // all item selection
    $('.select').click(function () {
        if ($('li.selected').length == 0) {
            $('li').addClass('selected');
            $('.select').addClass('selected');
        }
        else {
            $('li').removeClass('selected');
            $('.select').removeClass('selected');
        }
        counter();
    });

    // number of selected items
    function counter() {
        if ($('li.selected').length > 0)
            $('.send').addClass('selected');
        else
            $('.send').removeClass('selected');
        $('.send').attr('data-counter', $('li.selected').length);
    }

    function generateImageCollection() {
    	var sUrl = "/user/generateImagecollection";
    	var fnSuccess = function (data) {
            $.alert(data);
        };
        
        $.post(sUrl,"images=" + items.join(',')).done(fnSuccess);
    }
</script>
</body>
</html>