<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${{title}}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
</head>
<body>
	<div id="productList">
		<div class="weui-panel__bd" th:each="product : ${productList}">
		  <a class="weui-media-box weui-media-box_appmsg weui-cell_access" href="javascript:void(0);" 
		  th:hreflang="${{product.type}}" th:rel="${{product.id}}">
		    <div class="weui-media-box__hd">
		      <img class="weui-media-box__thumb" th:src="${{product.imageUrl}}"/>
		    </div>
		    <div class="weui-cell__bd">
		      <p th:text="${{product.productName}}"></p>
		    </div>
		    <div class="weui-cell__bd">
		      <p th:text="${{product.category}}"></p>
		    </div>
	   	    <div class="weui-cell__bd">
		      <p th:text="${{product.productPrice}}"></p>
		    </div>
		    <span class="weui-cell__ft"></span>
		  </a>
		</div>
	</div>
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script>
	/*<![CDATA[*/
		$('.weui-cell_access').bind('click', function (event) {
			switch(window.event.currentTarget.hreflang) {
				case '1':
					window.location.href="/manager/classprod/edit?productid="+window.event.currentTarget.rel;
				  break;
				case '2':
					window.location.href="/manager/derivedprod/edit?productid="+window.event.currentTarget.rel;
				  break;
				case '3':
					window.location.href="/manager/imageprod/edit?productid="+window.event.currentTarget.rel;
				  break;
			}
			
		});
	/*]]>*/  
	</script>
</body>
</html>