<!DOCTYPE HTML>
<html>
<head>
    <title>购物车</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/base.css" rel="stylesheet" media="screen"/>
    <link href="/css/module.css" rel="stylesheet" media="screen"/>
	<link rel="stylesheet" href="/css/weui.min.css" />
	<link rel="stylesheet" href="/css/jquery-weui.min.css" />    
</head>
<body>
	<div id="productList">
		<div>
			<ul>
				<li class="shop-group-item" v-for="(product, index) in productList">
					<div class="shop-info">
						<input type="checkbox" class="checkbox" v-bind:checked="product.checked" v-on:click="select(index,$event)"/>
						<div class="shop-info-img"><a href="#"><img v-bind:src="product.imageUrl" /></a></div>
						<div class="shop-info-text">
							<h4>{{product.productName}}</h4>
							<div class="shop-brief"><span>{{product.productDescription}}</span></div>
							<div class="shop-price">
								<div class="shop-pices">￥<b class="price">{{product.productPrice}}</b></div>
								<div class="shop-arithmetic">
									<a href="javascript:;" class="minus" v-on:click="minus(index,$event)">-</a>
									<span class="num" >{{product.quantity}}</span>
									<a href="javascript:;" class="plus" v-on:click="plus(index,$event)">+</a>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="payment-bar">
			<div class="all-checkbox"><input type="checkbox" class="checkbox" v-bind:checked="checkallstatus" v-on:click="allCheck()"/>全选</div>
			<div class="shop-total">
				<strong>总价：<i class="total" id="AllTotal">{{total}}</i></strong>
			</div>
			<a href="#" class="settlement" v-on:click="generateOrder()">结算</a>
		</div>
	</div>
	<div id="code" style="visibility:hidden" th:text="${{code}}" />
	
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
	    $(document).ready(function () {
			$.get( "/user/cartcontent?code="+$('#code').text()).done(function(data){
				products = new Vue({
					el: '#productList',
					watch: {
						productList: function () {
							var amount = 0;
							for(index in this.productList){
								if(this.productList[index].checked === "checked"){
									amount+=this.productList[index].productPrice*this.productList[index].quantity;
								}
							}
							products.total = amount;
					    }
				    },
					methods: {
						plus:function(index, event){
							var temp = products.productList[index];
							temp.quantity++;
							Vue.set(products.productList, index, temp);
						},
						minus:function(index, event){
							if(products.productList[index].quantity-1 ===0){
								$.post( "/user/cart?id="+products.productList[index].id,"type="+products.productList[index].type).done(function(data){
									products.productList.splice(index,1);
								})
							}else{
								var temp = products.productList[index];
								temp.quantity--;
								Vue.set(products.productList, index, temp);
							}
						},
						select:function(index, event){
							if(products.productList[index].checked === "checked"){
								var temp = products.productList[index];
								temp.checked = "";
								Vue.set(products.productList, index, temp);
							}else{
								var temp = products.productList[index];
								temp.checked = "checked";
								Vue.set(products.productList, index, temp);
							}
						},
						allCheck:function(event){
							var status= "";
							if(products.checkallstatus===""){
								status = "checked";
								products.checkallstatus="checked";
							}else{
								products.checkallstatus="";
							}
							
							for(index in products.productList){
								var temp=products.productList[index];
								temp.checked = status;
								Vue.set(products.productList, index, temp);
							}
						},
						generateOrder:function(event){
							var buylist=[];
							for(index in products.productList){
								if(products.productList[index].checked === "checked"){
									var temp = {};
									temp.id=products.productList[index].id;
									temp.productName = products.productList[index].productName;
									temp.category=products.productList[index].category;
									temp.productPrice=products.productList[index].productPrice;
									temp.productDescription=products.productList[index].productDescription;
									temp.imageUrl=products.productList[index].imageUrl;
									temp.quantity=products.productList[index].quantity;
									temp.type=products.productList[index].type;
									buylist.push(temp);
								}
							}
							if(buylist.length <= 0){
								return;
							}
							$.ajax({
								  type: "POST",
								  url: "/api/v1/Order",
								  data: JSON.stringify(buylist),
								  contentType:"application/json; charset=utf-8",
								}).done(function( data ) {
									var orderId = data.id;
									$.ajax({
										$.ajax({
											url: '/api/v1/Order/' + order.id + '/initiatePay',
											contentType: 'application/json',
											accept: 'application/json',
											type: 'POST',
										}).done(function (response) {
											wx.chooseWXPay({
												timestamp: response.timestamp,
												nonceStr: response.nonceStr,
												package: response.package,
												signType: response.signType,
												paySign: response.paySign,
												success: function(res) {
													console.log(res);
													//TODO: Navigate to "You paid" page
												}
											});
										});
									});
							    });
						}
					},
					data: {
					 	productList: data,
					 	total:0,
					 	checkallstatus:""
					}
				})
			});
    	});
     /*]]>*/  
	 </script>
</body>
</html>