<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>用户订单</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/css/weui.min.css" rel="stylesheet" />
        <link href="/css/jquery-weui.min.css" rel="stylesheet" />
        <link href="/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body>
        <div id="orderList">
            <div class="weui-form-preview" v-for="(order, index) in orders">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">订单编号:</label>
                        <span class="dsx-user-info">{{order.id}}</span>
                    </div>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item" v-for="(item, itemNo) in order.items">
                        <div class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                <img class="dsx-order-thumb" v-bind:src="item.imageUrl" width="60" height="60">
                                </img>
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">{{item.productName}}</h4>
                                <span class="weui-form-preview__value">
                                    {{item.productDescription}}
                                </span>
                                <p class="weui-media-box__desc">
                                    <span>
                                        {{item.productPrice}} + ' x ' + {{item.quantity}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box__bd">
                        <div class="dsx-order-money">
                        <span>
                            {{'共' + order.itemCount + '件商品, 共计￥ '+ order.totalAmount }}
                        </span>
                        </div>
                    </div>
                    <div class="weui-media-box__bd">
                    <span>
                        {{ '订单状态：' + order.statusText }}
                    </span>
                    </div>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
                       v-if="order.status === 'CREATED' || order.status === 'NOTPAY'" v-on:click="onPay(index, $event)">付款</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
                       v-if="order.status === 'CREATED' || order.status === 'NOTPAY'" v-on:click="onCancel(index, $event)">取消</a>
                    <!--
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
                       v-if="order.status === 'PAID'" v-on:click="onRefund(index, $event)">申请退款</a>
                    -->
                </div>
            </div>
        </div>
        
        <div id="code" style="display:none" th:text="${{code}}"></div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-weui.min.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/jweixin-1.2.0.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#orderList',
                data: {
                    orders: [
                    ],
                },
                created: function() {
                    $.ajax({
                        url: '/api/v1/Order',
                        contentType: 'application/json',
                        accept: 'application/json',
                        type: 'GET',
                    }).done(function (response) {
                        response.forEach(function(order) {
                            app.orders.push(order);
                        });
                    });
                },
                methods: {
                    onPay : function(index, event) {
                        var order = app.orders[index];
                        $.ajax({
                            //url: '/api/v1/Order/' + order.id + '/initiatePay',
                            url: '/pay?orderId=' + order.id,
                            contentType: 'application/json',
                            accept: 'application/json',
                            type: 'POST',
                            //data: JSON.stringify(order),
                        }).done(function (response) {
                            if (response.success) {
                                var body = {
                                    url : window.location.href
                                };

                                $.ajax({
                                    url: '/api/v1/JsApiSignature',
                                    contentType: 'application/json',
                                    accept: 'application/json',
                                    type: 'POST',
                                    data: JSON.stringify(body),
                                }).done(function (signature) {
                                    wx.config({
                                        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                                        appId: signature.appId, // 必填，公众号的唯一标识
                                        timestamp: signature.timestamp, // 必填，生成签名的时间戳
                                        nonceStr: signature.nonceStr, // 必填，生成签名的随机串
                                        signature: signature.signature, // 必填，签名，见附录1
                                        jsApiList: [  // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                                            'chooseWXPay'
                                        ]
                                    });

                                    //上方的config检测通过后，会执行ready方法
                                    wx.ready(function(){
                                        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                                        console.log("JSSDK config信息验证成功");

                                        wx.chooseWXPay({
                                            timestamp: response.timestamp,
                                            nonceStr: response.nonceStr,
                                            package: response.package,
                                            signType: response.signType,
                                            paySign: response.paySign,
                                            success: function(res) {
                                                console.log(res);
                                                window.location.href = "/paymentResult/" + order.id;
                                            },
                                            //该complete回调函数，相当于try{}catch(){}异常捕捉中的finally，无论支付成功与否，都会执行complete回调函数。即使wx.error执行了，也会执行该回调函数.
                                            complete : function(res) {
                                                //  /!*注意：res对象的errMsg属性名称，是没有下划线的，与WeixinJSBridge支付里面的err_msg是不一样的。而且，值也是不同的。*!/
                                                if (res.errMsg == "chooseWXPay:ok") {
                                                    //window.location.href = data[0].sendUrl;
                                                } else if (res.errMsg == "chooseWXPay:cancel") {
                                                    alert("你手动取消支付");
                                                } else if (res.errMsg == "chooseWXPay:fail") {
                                                    alert("支付失败");
                                                } else if (res.errMsg == "config:invalid signature") {
                                                    alert("支付签名验证错误，请检查签名正确与否 or 支付授权目录正确与否等");
                                                }
                                            }
                                        });
                                    });

                                    wx.error(function(res) {
                                       if (res.errMsg == "config:invalid url domain") {
                                           alert("微信支付(测试)授权目录设置有误");
                                       } else {
                                           alert("检测出问题:" + res.errMsg);
                                       }
                                    });
                                });


                            } else {
                                alert(response.message);
								window.location.href = "/paymentResult/" + order.id;
                            }
                        });
                    },
                    onCancel : function(index, event) {
                        var order = app.orders[index];
                        $.ajax({
                            url: '/api/v1/Order/' + order.id + '/cancelPay',
                            contentType: 'application/json',
                            accept: 'application/json',
                            type: 'POST',
                            //data: JSON.stringify(order),
                        }).done(function (response) {
                            order.status = 'CANCELLED';
                            order.statusText = '已取消';
                            Vue.set(app.orders, index, order);
                        });
                    },
                    onRefund : function(index, event) {
                        var order = app.orders[index];
                        $.ajax({
                            url: '/api/v1/Order/' + order.id + '/requestRefund',
                            contentType: 'application/json',
                            accept: 'application/json',
                            type: 'POST',
                        }).done(function (response) {
                            order.status = 'REFUND_REQUESTED';
                            order.statusText = '退款申请中';
                            Vue.set(app.orders, index, order);
                        });
                    },
                }
            });
        </script>
    </body>
</html>
