<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>用户订单</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/css/weui.min.css" rel="stylesheet" />
        <link href="/css/jquery-weui.min.css" rel="stylesheet" />
        <link href="/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body>
        <div id="order-list">
            <div class="weui-form-preview" v-for="(order, index) in orders">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">订单编号:</label>
                        <span class="dsx-user-info">{{order.id}}</span>
                    </div>
                </div>
                <div class="weui-form-preview__bd" v-for="(item, itemNo) in order.items">
                    <div class="weui-form-preview__item">
                        <a v-bind:href="{item.href}" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                <img class="dsx-order-thumb" v-bind:src="{item.imageUrl}" width="60" height="60">
                                </img>
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">{{item.productName}}</h4>
                                <span class="weui-form-preview__value">
                                    {{item.productDescription}}
                                </span>
                                <p class="weui-media-box__desc">
                                    <span>
                                        {{item.productPrice}} + ' x ' + {{item.quantity}}
                                    </span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="weui-media-box__bd">
                    <div class="dsx-order-money">
                        <span>
                            {{'共' + order.itemCount + '件商品, 共计￥ '+ order.totalAmount }}
                        </span>
                    </div>
                </div>
                <div class="weui-media-box__bd">
                    <span th:text="'订单状态：' + ${e.order.statusText} " >
                        {{ '订单状态：' + order.statusText }}
                    </span>
                </div>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
                   v-if="order.status === 'CREATED'" v-on:click="onPay(index, $event)">付款</a>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
                   v-if="order.status === 'CREATED'" v-on:click="onCancel(index, $event)">取消</a>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn"
                   v-if="order.status === 'PAID'" v-on:click="onRefund(index, $event)">申请退款</a>
            </div>
        </div>
        
        <div id="code" style="display:none" th:text="${{code}}"></div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-weui.min.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/vue.min.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#order-list',
                data: {
                    orders: [
                    ],
                },
                created: function() {
                    $.ajax({
                        url: '/api/v1/Customer/AddChild',
                        contentType: 'application/json',
                        type: 'GET',
                        //data: JSON.stringify(students),
                    }).done(function (response) {
                        //window.location.href = "/user/center";
                    });
                },
                methods: {
                    onPay : function(index) {

                    },
                    onCancel : function(index) {

                    },
                    onRefund : function(index) {

                    },
                }
            });
        </script>
    </body>
</html>
