<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的作品</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css" />
	<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css" />
</head>
<body>
	<h3>我的作品</h3>
	<div th:each="image : ${images}">
	  <div class="col-xs-6">
	    <a th:href="${{image.imageUrl}}" class="thumbnail">
	      <img th:src="${{image.thumbnailUrl}}" th:alt="${{image.imageName}}"/>
	    </a>
	  </div>
	</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>