<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>作品相关衍生品</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
</head>
<body>
	<header class="dsx-header">
        <h1 class="dsx-title">我的作品</h1>
    </header>
    <div th:each="image : ${images}" class="page grid js_show">
	  <div class="page grid js_show">
	  		<a href="/derivation/works" class="dsx-myworks-area">
				<div class="dsx-myworks-image">
						<img th:src="${{image.thumbnailUrl}}" th:alt="${{image.id}}"/>
				</div>
				<p class="weui-grid__label" th:text="${{image.imageName}}"></p>
			</a>
	  </div>
	</div>
	<div class="page__bd">
		<div class="weui-cells__tips tip-bar-color">本月主推，你还可以做...</div>
    </div>
    <div class="container" id="container">
    	<div class="weui-flex">
		  <div class="weui-flex__item">
            	<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="dsx-ztsp-thumb-image" src="/images/works.jpg" alt="1" width="80" height="80"/>
			      </div>
			      <div class="dsx-ztsp-info">
			        <h4 class="dsx-ztsp-title">丝巾</h4>
			        <p class="dsx-ztsp-price">298.00</p>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked"/>
			          <i class="weui-icon-checked"></i>
			        </div>
			      </div>
			    </a>		  
		  </div>
		  <div class="weui-flex__item">
		        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="dsx-ztsp-thumb-image" src="/images/works.jpg" alt="1" width="80" height="80"/>
			      </div>
			      <div class="dsx-ztsp-info">
			        <h4 class="dsx-ztsp-title">丝巾</h4>
			        <p class="dsx-ztsp-price">298.00</p>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" name="checkbox1" id="s12" checked="checked"/>
			          <i class="weui-icon-checked"></i>
			        </div>
			      </div>
			    </a>
		  </div>
		</div>
    	<div class="weui-flex">
		  <div class="weui-flex__item">
            	<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="dsx-ztsp-thumb-image" src="/images/works.jpg" alt="1" width="80" height="80"/>
			      </div>
			      <div class="dsx-ztsp-info">
			        <h4 class="dsx-ztsp-title">丝巾</h4>
			        <p class="dsx-ztsp-price">298.00</p>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" name="checkbox1" id="s13" checked="checked"/>
			          <i class="weui-icon-checked"></i>
			        </div>
			      </div>
			    </a>		  
		  </div>
		  <div class="weui-flex__item">
		        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="dsx-ztsp-thumb-image" src="/images/works.jpg" alt="1" width="80" height="80"/>
			      </div>
			      <div class="dsx-ztsp-info">
			        <h4 class="dsx-ztsp-title">丝巾</h4>
			        <p class="dsx-ztsp-price">298.00</p>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" name="checkbox1" id="s14" checked="checked"/>
			          <i class="weui-icon-checked"></i>
			        </div>
			      </div>
			    </a>
		  </div>
		</div>
    </div>
	<div id="code" style="visibility:hidden" th:text="${{code}}" />
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
	    $(document).ready(function () {
	    	$("img").click(function(){
	    		window.location.href = "/user/derivedproduct?imgcontainer="+this.alt;
	    	});
	    })
   	/*]]>*/
    </script>
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
</body>
</html>