<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的作品</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/weui.min.css" rel="stylesheet"/>
    <link href="/css/jquery-weui.min.css" rel="stylesheet"/>
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
    <link href="/css/swiper.min.css" media="screen" rel="stylesheet"/>
    <link href="/css/reset.css" type="text/css" rel="stylesheet" />
	<link href="/css/find.css" type="text/css" rel="stylesheet" />
    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        .swiper-container {
            width: 100%;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .gallery-top {
            width: 100%;
        }

        .gallery-thumbs {
            height: 75px;
            box-sizing: border-box;
            padding: 10px 0;
        }

        .gallery-thumbs .swiper-slide {
            width: 15%;
            height: 100%;
            opacity: 0.4;
        }

        .gallery-thumbs .swiper-slide-active {
            opacity: 1;
        }

    </style>
</head>
<body>
<div id="imageContainer">
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide bigPic" v-for="(image, index) in imageList"
                 v-bind:style="'background-image:url('+image.imageUrl+')'" v-bind:id="image.id" onclick="navTo()"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="button_sp_area">
        <div class="weui-btn_mini"> 作者：{{current.createdBy}}</div>
        <div class="weui-btn_mini"> 标题：{{current.imageName}}</div>
        <div class="weui-btn_mini"> 材质：{{current.material}}</div>
    </div>
    <div class="button_sp_area" style="text-align: center;">
        <div class="weui-btn_mini"> 上传日期：{{current.course.date}}</div>
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(image, index) in imageList"
                 v-bind:style="'background-image:url('+image.imageUrl+')'" ></div>
        </div>
    </div>
</div>
<div class="page__bd">
    <div class="weui-cells__tips tip-bar-color">本月主推，你还可以做...</div>
</div>
<aside class="fall-box grid" >
	<div class="grid-item item" th:each="product : ${products}">
		<img th:src="${{product.imageUrl}}" class="item-img" />
		<section class="section-p">
		   <p class="title-p" th:text="${{product.productName}}"></p>
	       <p class="name-p" th:text="${{product.productDescription}}"></p>
	       <div>
		       <p class="price-p" th:text="￥+${{product.productPrice}}" style="width:70%;display:inline-block ;"></p>
		       <span class="glyphicon glyphicon-shopping-cart addToCart" th:id="${{product.id}}" aria-hidden="true" style="margin-top: 5px;float: right;margin-right: 10px;"></span>
	       </div>
		</section>
	</div><!--item end-->
</aside>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-weui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var images={};
    function navTo(){
    	window.location.href="/Images/"+window.event.currentTarget.id;
    }
    $(document).ready(function () {
//        $("img").click(function () {
//            window.location.href = "/user/derivedproduct?imgcontainer=" + this.alt;
//        });
        $.get("/user/image").done(function (data) {
            var imageList = data;
            var current = imageList[0];
            images = new Vue({
                el: '#imageContainer',
                methods: {
                    select: function (index, event) {

                    }
                },
                data: {
                    imageList: imageList,
                    current: current
                }
            })
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 10,
                preventLinksPropagation: false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 10,
                centeredSlides: true,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true,
            });
            galleryTop.controller.control = galleryThumbs;
            galleryThumbs.controller.control = galleryTop;

            galleryTop.on('slideChange', function () {
                images.current = images.imageList[galleryTop.activeIndex];
            });

            //$('.bigPic').fullscreenslides();
        });
    })
    $(".addToCart").click(function(){
    	$.post("/user/createderivedproduct?productid="+window.event.toElement.id,"imageid="+images.current.id).done(function(data){
			$.alert(data,"消息");
		})
    })
    $(function(){
	
	    /*瀑布流初始化设置*/
		var $grid = $('.grid').masonry({
			itemSelector : '.grid-item',
			gutter:10
	    });
	    // layout Masonry after each image loads
		$grid.imagesLoaded().done( function() {
			console.log('uuuu===');
		  $grid.masonry('layout');
		});
	})

    /*]]>*/
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-weui.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.fullscreenslides.js"></script>
</body>
</html>