<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>课程预约</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen" />
</head>
<body>
<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row dsx-row">
            <div class="col-md-12">
                <div id="datetimepicker"></div>
            </div>
        </div>
    </div>
</div>
<div class="button_sp_area">
	<a href="javascript:;" th:each="student : ${students}" 
	class="weui-btn weui-btn_mini weui-btn_default" 
	th:text="${{student.studentName}}" th:rel="${{student.id}}">按钮</a>
</div>
<div class="weui-cells" id="courseList">
    <div class="weui-cell dsx-weui-cell" v-for="(course, index) in courseArray">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
            {{course.timeFrom}} - {{course.timeTo}}({{course.reservedStudentCount}}/{{course.maxSeat}})
        </div>
        <div class="weui-cell__ft">
            <button type="button" class="weui-btn weui-btn_mini weui-btn_primary" v-on:click="sign(index,$event)">预约
            </button>
        </div>
    </div>
</div>
<!-- body 最后 -->
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/moment-with-locales.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        return year + '-' + month + '-' + day;
    }
    var courseArray = [];
    var courses = {}
    $(document).ready(function () {
    	$('.button_sp_area .weui-btn_mini')[0].classList.add('weui-btn_primary');
    	$('.button_sp_area .weui-btn_mini').click(function() {
    		$('.button_sp_area .weui-btn_mini').removeClass('weui-btn_primary');
    		window.event.toElement.classList.add('weui-btn_primary');
    	});
        $.get("/user/searchcourse?date=" + formatDate(new Date())).done(function (data) {
            courseArray = data;
            courses = new Vue({
                el: '#courseList',
                methods: {
                    sign: function (index, event) {
                        $.post("/user/reserve?studentid=" + $('.button_sp_area .weui-btn_primary')[0].rel, "courseid=" + courses.courseArray[index].id).done(
                                function (data) {
                                	$.alert(data, "消息！");
                                	$.get("/user/searchcourse?date=" + formatDate(new Date())).done(function (data) {
                                		courses.courseArray = data;
                                	});
                                }).fail(
                                function (data) {
                                	$.alert("预约失败", "消息！");
                                })
                    }
                },
                data: {
                    courseArray: courseArray
                }
            })
        });
        this.datapicker = $('#datetimepicker').datetimepicker({
            inline: true,
            sideBySide: false,
            locale: 'zh-cn',
            viewMode: 'days',
            format: 'L',
            format: "YYYY-MM-DD",
        });

        $('#datetimepicker').on("dp.change", function (e) {
            $.get("/user/searchcourse?date=" + e.date.format("YYYY-MM-DD")).done(function (data) {
                courseArray = data;
                courses.courseArray = courseArray;
            });
        })
    });
/*]]>*/  
</script>
<div id="code" style="visibility:hidden" th:text="${{code}}"/>
</body>
</html>