<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户搜索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen"/>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/css/app.css" media="screen" rel="stylesheet"/>
</head>
<body>
	<div class="weui-search-bar" id="searchBar">
	  <div class="weui-search-bar__form">
	    <div class="weui-search-bar__box">
	      <i class="weui-icon-search"></i>
	      <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required=""/>
	      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
	    </div>
	    <label class="weui-search-bar__label" id="searchText">
	      <i class="weui-icon-search"></i>
	      <span>学生相关信息</span>
	    </label>
	  </div>
	  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
	</div>
	<div id="studentList">
		<div class="weui-cells" v-for="(student, index) in studentArray">
		  <a class="weui-cell weui-cell_access" href="javascript:;" v-on:click="navToDetail(index,$event)" v-bind:hreflang="student.id">
		    <div class="weui-cell__bd">
		      <p>{{ student.studentName }}</p>
		    </div>
	   	    <div class="weui-cell__bd">
		      <p>{{ student.birthday }}</p>
		    </div>
	     	<div class="weui-cell__bd">
		      <p>{{ student.id }}</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		</div>
	</div>
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script>
	/*<![CDATA[*/
		var students = new Vue({
            el: '#studentList',
            methods: {
            	navToDetail:function(index, event){
					var student = students.studentArray[index];
					window.location.href="/user/signcourse?id="+student.id;
				}
            },
            data: {
                studentArray: []
            }
        });
	
		$('#searchInput').bind('keypress', function (event) {
			if (event.keyCode == "13") {
			    var keyword = $('#searchInput')[0].value.replace(".","-").replace(".","-");   ;
				$.post("/user/search?keyword="+keyword,function(data){
					students.studentArray=data;
				},"json");
			}
		});
	/*]]>*/  
	</script>
</body>
</html>