<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>用户订单</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	    <link href="/css/weui.min.css" rel="stylesheet" />
	    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
	    <link href="/css/app.css" media="screen" rel="stylesheet"/>
    </head>
    <body>
        <div class="weui-form-preview" th:each="e : ${orderList}">
            <div class="weui-form-preview__hd">
            	<div class="weui-form-preview__item">
			      <label class="weui-form-preview__label">订单编号:</label>
			      <span class="dsx-user-info" th:text="${e.order.id}"></span>
			    </div>
            </div>
            <div class="weui-form-preview__bd" th:each="item : ${e.productContainers}">
                <div class="weui-form-preview__item">
                    <a th:href="'/order/detail/' + ${e.order.id}" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                          <img class="dsx-order-thumb" th:src="${item.imageUrl}" width="60" height="60" alt="${e.order.id}"></img>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title" th:text="${item.productName}"></h4>
                            <span class="weui-form-preview__value" th:text="${item.productDescription}"></span>
                            <p class="weui-media-box__desc">
                                <span th:text="${item.productPrice} + ' x ' + ${item.quantity}"></span> 
                            </p>
                        </div>
                    </a>
                    <div class="weui-media-box__bd">
		                <div class="dsx-order-money">
		                	<span th:text="'共' + ${item.quantity} + '件商品, 共计￥ '+ ${e.order.totalAmount} " ></span>
		                </div>
		            </div>
                    <div class="weui-media-box__bd">
                        <span th:text="'订单状态：' + ${e.order.statusText} " ></span>
                        <span style="display: none;" th:text="${e.order.status}"></span>
                    </div>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">支付</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">取消</a>
                </div>
            </div>
        </div>
        
        <div id="code" style="visibility: hidden" th:text="${{code}}"></div>
    	<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-weui.min.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
		<script src="/js/vue.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //TODO: Hide the buttons if the order status is NOT "CREATED"
            });
        </script>
    </body>
</html>
