<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>签到并上传</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
</head>
<body>
	<div class="weui-form-preview">
		<div class="weui-form-preview__bd">
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">学成姓名</label> <span
					class="weui-form-preview__value"
					th:text="${{studentContainer.studentName}}">姓名</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">学号</label> <span
					class="weui-form-preview__value" th:text="${{studentContainer.id}}" id="studentid">学号</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">生日</label> <span
					class="weui-form-preview__value"
					th:text="${{studentContainer.birthday}}">生日</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">移动电话</label> <span
					class="weui-form-preview__value"
					th:text="${{studentContainer.mobilePhone}}">移动电话</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">家庭住址</label> <span
					class="weui-form-preview__value"
					th:text="${{studentContainer.address}}">家庭住址</span>
			</div>
		</div>
	</div>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">课程时间</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" id="datetime-picker"
					readonly="" />
			</div>
		</div>
		<div class="weui-cell">
		  <div class="weui-cell__hd"><label class="weui-label">作品名称</label></div>
		  <div class="weui-cell__bd">
		    <input class="weui-input" type="text" id="imgName" placeholder="请输入作品名"/>
		  </div>
		</div>
		<div class="weui-cell">
		  <div class="weui-cell__hd"><label class="weui-label">作品材质</label></div>
		  <div class="weui-cell__bd">
		    <input class="weui-input" type="text" id="imgMaterial" placeholder="请输入作品材质"/>
		  </div>
		</div>
	</div>

	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<div class="weui-uploader">
					<div class="weui-uploader__bd">
						<ul class="weui-uploader__files" id="uploaderFiles">
						</ul>
						<div id="image-holder"></div>
						<form class="weui-uploader__input-box">
							<input id="fileUpload" class="weui-uploader__input" type="file"
								accept="image/*" multiple="" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="weui-footer_fixed-bottom">
		<a href="javascript:;" class="weui-btn weui-btn_primary" id="sign">签到并上传作品</a>
	</div>
	<script src="/js/jquery.min.js" type="text/javascript" ></script>
	<script src="/js/jquery-weui.min.js" type="text/javascript" ></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" ></script>
	<script src="/js/vue.min.js" type="text/javascript" ></script>
	<script>
		/*<![CDATA[*/
		function getNowFormatDate() {
			var date = new Date();
			var seperator1 = "-";
			var seperator2 = ":";
			var month = date.getMonth() + 1;
			var strDate = date.getDate();
			if (month >= 1 && month <= 9) {
				month = "0" + month;
			}
			if (strDate >= 0 && strDate <= 9) {
				strDate = "0" + strDate;
			}
			var currentdate = date.getFullYear() + seperator1 + month
					+ seperator1 + strDate + " " + date.getHours() + "时"
			return currentdate;
		}

		$(document).ready(function() {
			var date = new Date();

			$("#datetime-picker").datetimePicker({
				value : getNowFormatDate(),
				times : function() {
					return [ {
						values : (function() {
							var hours = [];
							for (var i = 0; i < 24; i++)
								hours.push(i > 9 ? i : '0' + i);
							return hours;
						})()
					}, {
						divider : true, // 这是一个分隔符
						content : '时'
					} ];
				},
				onChange : function(picker, values, displayValues) {
				},
			});
		})

		$("#sign").on('click', function() {
			if($(".weui-btn_disabled").length>0){
				return;
			}
			var datetime = $("#datetime-picker")[0].value;
			var material = $("#imgMaterial")[0].value;
			var date = datetime.split(" ")[0];
			var hour = datetime.split(" ")[1].substring(0, 2)+":00:00";
			var files = $("#fileUpload")[0].files;
			if($("#imgName")[0].value === ''){
				alert("请输入作品名称");
				return;
			}
			if($("#imgMaterial")[0].value === ''){
				alert("请输入作品材质");
				return;
			}
			if(files[0] === undefined){
				alert("请选择作品");
				return;
			}
			var formData = new FormData();
			formData.append("imageName", $("#imgName")[0].value);
			formData.append("file", files[0]);
			formData.append("date", date);
			formData.append("hour", hour);
			formData.append("material", material);
			
			$.ajax({
			  url: "/StudentManager/"+$("#studentid")[0].textContent,
			  data: formData,
			  processData: false,
			  contentType: false,
			  type: 'POST'
			}).done(function(){
				$.alert("签到上传成功","消息");
				$("#sign").removeClass("weui-btn_disabled");
			}).fail(function(data){
				alert(data.responseJSON.message,"消息");
				$("#sign").removeClass("weui-btn_disabled");
			});
			$("#sign").addClass("weui-btn_disabled");
		})

		$("#fileUpload").on(
				'change',
				function() {

					//获取上传文件的数量
					var countFiles = $(this)[0].files.length;

					var imgPath = $(this)[0].value;
					var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1)
							.toLowerCase();
					var image_holder = $("#uploaderFiles");
					image_holder.empty();

					if (extn == "gif" || extn == "png" || extn == "jpg"
							|| extn == "jpeg") {
						if (typeof (FileReader) != "undefined") {

							// 循环所有要上传的图片
							for (var i = 0; i < countFiles; i++) {

								var reader = new FileReader();
								reader.onload = function(e) {
									$("<img />", {
										"src" : e.target.result,
										"class" : "weui-uploader__file"
									}).appendTo(image_holder);
								}

								image_holder.show();
								reader.readAsDataURL($(this)[0].files[i]);
							}

						} else {
							alert("你的浏览器不支持FileReader！");
						}
					} else {
						alert("请选择图像文件。");
					}
				});
		/*]]>*/
	</script>
</body>
</html>