<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>已签到课程</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/css/weui.min.css" rel="stylesheet" />
    <link href="/css/jquery-weui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <img alt="" height="200" src="/images/logo.jpg" style="display: block; margin: 0 auto;" width="200"/>
        </div>
    </div>
    <div class="button_sp_area">
		<a href="javascript:;" th:each="student : ${students}" 
		class="weui-btn weui-btn_mini weui-btn_default" 
		th:text="${{student.studentName}}" th:rel="${{student.id}}">按钮</a>
	</div>
	<div id="courseList">
		<div class="button_sp_area">
			<div class="weui-btn_mini" > 学号：{{student.id}}</div>
			<div class="weui-btn_mini" > 剩余课时：{{student.leftPeriods}}</div>
			<div class="weui-btn_mini" > 已上课时：{{student.donePeriods}}</div>
		</div>
		<div class="weui-cells" >
		    <div class="weui-cell dsx-weui-cell" v-for="(course, index) in courseArray">
		        <div class="weui-cell__bd">
		            {{course.date}}
		        </div>
		        <div class="weui-cell__bd">
		            {{course.timeFrom}} - {{course.timeTo}}
		        </div>
		        <div class="weui-cell__bd">
		            {{course.status}}
		        </div>
		        <div class="weui-cell__ft">
		            
		        </div>
		    </div>
		</div>
	</div>
	<div class="weui-footer">
		<a href="javascript:;" class="weui-btn weui-btn_primary" id="buyClass">购买课程</a>
	</div>
    <script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-weui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	
    <script type="text/javascript">
/*<![CDATA[*/
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        return year + '-' + month + '-' + day;
    }
    
    $("#buyClass").on('click', function() {
    	$.post("/user/buycourse?studentid="+$('.button_sp_area .weui-btn_primary')[0].rel).done(function(data){
			alert(data);
		})
    })
    
    var courseArray = [];
    var courses = {};
    var student={};
    $(document).ready(function () {
    	$('.button_sp_area .weui-btn_mini')[0].classList.add('weui-btn_primary');
    	$('.button_sp_area .weui-btn_mini').click(function() {
    		$('.button_sp_area .weui-btn_mini').removeClass('weui-btn_primary');
    		window.event.toElement.classList.add('weui-btn_primary');
    		$.get("/user/relatedcourse?studentid=" + $('.button_sp_area .weui-btn_primary')[0].rel).done(function (data) {
    			courses.courseArray = data;
        	});
    		$.get("/api/v1/Student/" + $('.button_sp_area .weui-btn_primary')[0].rel).done(function (data) {
    			courses.student = data;
        	});
    	});
    	
    	$.get("/user/relatedcourse?studentid=" + $('.button_sp_area .weui-btn_primary')[0].rel).done(function (data) {
    		courseArray = data;
            courses = new Vue({
                el: '#courseList',
                methods: {
                    
                },
                data: {
                    courseArray: courseArray,
                    student: student
                }
            })
            $.get("/api/v1/Student/" + $('.button_sp_area .weui-btn_primary')[0].rel).done(function (data) {
    			courses.student = data;
        	});
    	});
    });
/*]]>*/  
</script>
</body>
</html>